button {
    font-family: Fira Sans, Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: $bold;
    color: $neutral-1000;
    background: $neutral-40;
    border: 1px solid $neutral-300;
    padding: $space-inset-3;
    padding-left: $space-unit-4;
    padding-right: $space-unit-4;
    cursor: pointer;
    transition: all 0.1s ease-in;
    
    &:hover {
        background: $neutral-100;
        text-decoration: underline;
    }
    &:focus {
        background: $neutral-100;
        text-decoration: underline;
        outline: 5px auto -webkit-focus-ring-color;
    }
    &:active {
        background: $neutral-200;
        border-color: $neutral-200;
    }

    // Primary Button
    &.primary-button {
        color: $white;
        background: $orange;
        border-color: $orange-700;
        &:hover {
            background-color: $orange-700;
            border-color: $orange-800;
            text-decoration: underline;
        }
        &:focus {
            background-color: $orange-700;
            border-color: $orange-800;
            text-decoration: underline;
        }
        &:active {
            background: $orange-900;
            border-color: $orange-900;
        }
    }

    &:disabled,
    &[disabled] {
        color: $quaternary-text !important;
        background-color: $neutral-200 !important;
        border-color: $neutral-300 !important;
        text-decoration: none !important;
        cursor: not-allowed !important;
    }
}

.button-group {
    margin: $space-stack-8;
    button {
        margin: $space-inline-r-4;
        &:first-child {
            margin: 0;
        }
    }
}