header {
    background: $neutral-40;
    width: 100%;
    box-shadow: 0px 7px 12px 5px rgba(0,0,0,0.12);
    .header-container {
        @include containedWidth();
        margin: 0 auto;
        padding: $space-inset-6;
    }
}