// Radio Button
.input-radio {
    display: block;
    position: relative;
    margin: $space-stack-6;

    // Style label
    label {
        display: block;
        position: relative;
        padding: $space-inline-r-8;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    &:first-of-type {
        margin: $space-stack-4;
    }

    // Hide the browser's default radio button
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    // Custom radio button
    .checkmark {
        position: absolute;
        top: -1px;
        left: 0;
        height: 25px;
        width: 25px;
        border: 2px solid $neutral-500;
        border-radius: 50%;
        transition: all 0.1s ease-in;
        // Create the indicator (the dot/circle - hidden when not checked)
        &:after {
            content: "";
            position: absolute;
            top: 10px;
            left: 10px;
            width: 0px;
            height: 0px;
            border-radius: 50%;
            background: $citizen-green;
            transition: all 0.1s ease-in;
        }
        &:before {
            content: "";
            position: absolute;
            top: -6px;
            left: -6px;
            width: 33px;
            height: 33px;
            border-radius: 50%;
            background: rgba($black, 0.12);
            opacity: 0;
            transition: all 0.2s ease-in;
        }
    }

    // On mouse-over, add a grey background color
    &:hover {
        input ~ label .checkmark {
            &:before {
                opacity: 1;
            }
        }
    }

    // When the radio button is checked
    input:checked ~ label .checkmark {
        border-color: $citizen-green;
        
        // Show the indicator (dot/circle) when checked
        &:after {
            top: 2px;
            left: 2px;
            width: 17px;
            height: 17px;
        }

        &:before {
            background: rgba($citizen-green, 0.12);
        }
    }

    // When radio is focused
    input:focus ~ label .checkmark {
        &:before {
            opacity: 1;
        }
    }
    // Tab navigation focus
    input:focus:not(:focus-visible) ~ label {
        outline: none;
        .checkmark {
            &:before {
                opacity: 1;
            }
        }
    }
    input:focus-visible ~ label {
        outline: 5px auto -webkit-focus-ring-color;
    }
}