p {
    @include fontSize(16px);
    line-height: 24px;
    &.bold {
        font-weight: $bold;
    }
    &.x-small {
        @include fontSize(13px);
        line-height: 20px;
    }
    &.error {
        color: $red;
    }
}

legend {
    @include fontSize(16px);
    line-height: 24px;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

h1 {
    @include fontSize(66px);
    font-weight: $bold;
}

h2 {
    @include fontSize(46px);
    font-weight: $bold;
}

h3 {
    @include fontSize(32px);
    font-weight: $bold;
}

h4 {
    @include fontSize(23px);
    font-weight: $bold;
}

h5 {
    @include fontSize(18px);
    font-weight: $bold;
}

h6 {
    @include fontSize(16px);
    font-weight: $bold;
}

label {
    @include fontSize(14px);
    line-height: 24px;
}