// Text Colors
$primary-text: #231f20;
$secondary-text: #373535;
$tertiary-text: #636262;
$quaternary-text: #757474;

// Primary Colors
$citizen-green: #008555;
$white: #FFFFFF;

// Secondary Colors
$black: #231f20;
$lime-green: #4aff75;
$orange: #d93d00;
$blue: #044da2;

//Tertiary Colors
$gold: #dac500;
$red: #bc2a2a;
$faded-blue: #00698f;

//Extended Pallette - Neutral
$neutral-40: #f6f6f6;
$neutral-100: #e9e9e9;
$neutral-200: #d3d2d2;
$neutral-300: #bfbebe;
$neutral-500: #878686;
$neutral-600: #757474;
$neutral-800: #4b4949;
$neutral-1000: #292627;
$neutral-1100: #231f20;

//Extended Pallette - Orange
$orange-700: #ad3000;
$orange-800: #822400;
$orange-900: #561800