// Base Units
$space-unit-half: 2px;
$space-unit-1: 4px;
$space-unit-2: 8px;
$space-unit-3: 12px;
$space-unit-4: 16px;
$space-unit-6: 24px;
$space-unit-8: 32px;
$space-unit-12: 48px;
$space-unit-16: 64px;

// Inset Spacing
$space-inset-0: 0;
$space-inset-none: $space-inset-0;
$space-inset-half: 2px;
$space-inset-1: 4px;
$space-inset-2: 8px;
$space-inset-3: 12px;
$space-inset-4: 16px;
$space-inset-6: 24px;
$space-inset-8: 32px;
$space-inset-12: 48px;
$space-inset-16: 64px;

// Stack Spacing
$space-stack-0: 0;
$space-stack-none: $space-stack-0;
$space-stack-half: 2px 0 0 0;
$space-stack-1: 4px 0 0 0;
$space-stack-2: 8px 0 0 0;
$space-stack-3: 12px 0 0 0;
$space-stack-4: 16px 0 0 0;
$space-stack-6: 24px 0 0 0;
$space-stack-8: 32px 0 0 0;
$space-stack-12: 48px 0 0 0;
$space-stack-16: 64px 0 0 0;
$space-stack-24: 96px 0 0 0;
$space-stack-32: 128px 0 0 0;

// Inline Spacing Left
$space-inline-l-0: 0;
$space-inline-l-none: $space-inline-l-0;
$space-inline-l-half: 0 2px 0 0;
$space-inline-l-1: 0 4px 0 0;
$space-inline-l-2: 0 8px 0 0;
$space-inline-l-3: 0 12px 0 0;
$space-inline-l-4: 0 16px 0 0;
$space-inline-l-6: 0 24px 0 0;
$space-inline-l-8: 0 32px 0 0;

// Inline Spacing Right
$space-inline-r-0: 0;
$space-inline-r-none: $space-inline-r-0;
$space-inline-r-half: 0 0 0 2px;
$space-inline-r-1: 0 0 0 4px;
$space-inline-r-2: 0 0 0 8px;
$space-inline-r-3: 0 0 0 12px;
$space-inline-r-4: 0 0 0 16px;
$space-inline-r-6: 0 0 0 24px;
$space-inline-r-8: 0 0 0 32px;