@import './_partials/required';
@import './_mixins/required';

// Base
@import './base/required';

// Components
@import './components/radio';
@import './components/button';
@import './components/header';
@import './components/footer';

body {
    font-family: Fira Sans, Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: $primary-text;
    font-size: 16px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    @include containedWidth();
    flex: 1 1 auto;
    margin: $space-stack-6;
    margin-left: auto;
    margin-right: auto;
    padding: $space-inset-6;

    form {
        margin: $space-stack-4;
    }
}